@font-face {
    font-family: 'Leawood Regular';
    src: url('../assets/fonts/LeawoodStd-Book.otf');
}

@font-face {
    font-family: 'Leawood Bold';
    src: url('../assets/fonts/LeawoodStd-Bold.otf');
}

@font-face {
    font-family: 'FAB';
    src: url('../assets/fonts/Fleshandblood.ttf');
}

@font-face {
    font-family: 'DS3';
    src: url('../assets/fonts/OptimusPrinceps.ttf');
}


@font-face {
    font-family: 'ARS Maquette Pro';
    src: url('../assets/fonts/ARSMaquettePro-Regular.eot');
    src: local('ARS Maquette Pro Regular'), local('ARSMaquettePro-Regular'),
        url('../assets/fonts/ARSMaquettePro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/ARSMaquettePro-Regular.woff2') format('woff2'),
        url('../assets/fonts/ARSMaquettePro-Regular.woff') format('woff'),
        url('../assets/fonts/ARSMaquettePro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ARS Maquette Italic';
    src: url('../assets/fonts/ARSMaquettePro-Italic.eot');
    src: local('ARS Maquette Pro Italic'), local('ARSMaquettePro-Italic'),
        url('../assets/fonts/ARSMaquettePro-Italic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/ARSMaquettePro-Italic.woff2') format('woff2'),
        url('../assets/fonts/ARSMaquettePro-Italic.woff') format('woff'),
        url('../assets/fonts/ARSMaquettePro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}